
<body style="background-color:pink;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">


                <form method="post" action="{{ url_for('tasks') }}">
                    <button type="submit" onclick="epilepsy()" >click</button>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </form>

                <img src="{{ url_for('video_feed') }}" height="80%">

            </div>
        </div>
    </div>
<script>
    function epilepsy() {
    console.log("hellos")
    const colors = ['red', 'purple', 'blue', 'green', 'yellow', 'orange']; // Colors to flash
    let index = 0;
    let originalBodyBg = document.body.style.backgroundColor;

    const intervalId = setInterval(() => {
        document.body.style.backgroundColor = colors[index];
        index = (index + 1) % colors.length;
    }, 500); // <--- set time where 100 = 0.1s

    const allElements = document.queies = [];
    allElements.forEacrySelectorAll('div, p');
    let originalOpacith((el, idx) => {
        originalOpacities.push(el.style.opacity);
        if (idx % 2 === 0) {
            el.style.opacity = 0;
        }
    });

</script>
    </body>
